.general{
    width: 100%;
    height: 100%;
    background-color: #67a3D9;
}
.sub_general{
    width:100%;
    height: 94%;
    top:0;
    position: absolute;
    background-color: #67a3D9;
}
.center{
    border-radius: 150px;
    height:55%;
    width:80%;
    background-color: white;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;
    margin: auto;
    box-shadow:0 0 10px 10px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 6px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 6px 6px rgba(0,0,0,0.2);
}
.title{
    height:50%;
    width:90%;
    position: absolute;
	left: 0;
    right: 0;
    margin: auto;
}
.titre{
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    width: 100%;
    height:100%;
    text-align: center;
}
a{
    text-decoration: none;
}
.but{
    height: 60%;
    width:90%;
    position: absolute;
    top:40%;
	left: 0;
    right: 0;
    margin: auto;
}
.bb{
    height: 200px;
    max-width: 650px;
    min-width: 400px;
    width: 65%;
    background-color: #f6d2e0;
    border-radius: 15px;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;
    margin: auto;
}
.text{
    font-size: 70px;
    color: black;
    margin-top: 50px;
    width:100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.rules{
    width: 82%;
    height: 82%;
    padding: 8%;
    overflow-y: auto;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;
    margin: auto;
}
.rule{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    width:100%;
}
.copyrights{
    height: 6%;
    width: 100%;
    background-color: #0671B7;
    bottom:0;
    position: absolute;
 
}
.copyrights_text{
    font-size: 27px;
    color: white;
    margin-top: 0;
    width:100%;
    text-align: center; 
    overflow-y: auto;
}
.croix{
    font-size: 120px;
    transform: rotate(45deg);
    width: 60px;
    right: 50px;
    position: absolute;
    padding: 0;
    margin: 0;
    color: white;
}