html, body{
    width:100%;
    height:100%;
    position: absolute;
}
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.top{
    min-height :200px;
    height: 10%;
    width: 100%;
    background-color: #6BC7A6;
}
#countdown{
    width: 100%;
    text-align: right;
    font-size: 150px;
    padding: 0;
    margin:0;
}
.valider{
    width:100%;
    position: absolute;
    bottom: 0;
    background-color: black;
    height: 11%;
    margin:0;
}
.questions{
    height: 78%;
    width: 100%;
    position: absolute;
}
#qst1, #qst2, #qst3{
    height: 100%;
}
.qst {
    width: 90%;
    height: 40%;
    background-color: pink;
    border-radius: 20px;
    position: absolute;
	top:20px;
	bottom: 0;
	left: 5%;
    right: 5%;
    margin: auto;
    padding: 0;
    margin-top: 0px;
}
.choices{
    width: 90%;
    height: 55%;
    border-radius: 20px;
    position: absolute;
	top:0;
	bottom: 20px;
	left: 5%;
    right: 5%;
    margin: auto;
    padding: 0;
    margin-bottom: 10px;
}
.text{
    font-size: 40px;
    width: 100%;
    height: 90%;
    text-align: center;
    overflow-y: scroll;
}
.choices_table{
    width: 100%;
    height: 90%;
    position: absolute;
	top:5%;
	bottom: 5%;
	left: 0;
    right: 0;
    margin: auto;
}
.choices_tr{
    width: 100%;
    border-radius: 10px;
    height: 25%;
    margin-bottom: 5%;
}
.choices_td{
    width: 100%;
    border-radius: 100px;
    height: 28%;
    background-color: red;
    margin-bottom: 5%;
    position: absolute;
}
.lab{
    font-size: 40px;
    width: 100%;
    height: 100%;
    margin: 80px;
    margin-top: 20px;
    position: absolute;
}
.radio{
    display: none;
}
.fleche{
    position: absolute;
    bottom: 50;
    width: 100%;
}
.left{
    position: absolute;
    left: 0;
}
.right{
    position: absolute;
    right: 0;
}
.fl{
    height: 80px;
    width: 100px;
}
.rightt{
    transform: rotate(180deg);

}